*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body,html{
    height: 100px;
    margin: 0;
}
#nav{
    background-color: #1A252F;
}
#nav ul{
    list-style-type:none;
    overflow: hidden;
}
#nav li{
    float: left;
    margin: .3rem;
}
#nav ul li{
    font-size: 18px;
}
#nav li a{
    color: white;
    text-align: center;
    padding: 12px 14px;
    text-decoration: none;
    display:inline-block;
}
#share a{
    color: rgb(10, 12, 12);
    text-decoration: none;
    margin-right: 10px;
    opacity: 0.6;
}
#share a:hover{
    opacity: 0.9;
}
.box{
    padding: 50px;
    margin: 30px;
    text-align: center;
}